#**Do Now FIVE Wednesday, June 10, 2015**

*Reviewing: dictionaries, lists, CSVs*


1) What's the output of the following lines?

name = "Max"
print "hello", "name"
print "hello", name

2) What is the output of the following code? Which lines give you errors?

borough_name = 'Manhattan'

z = [ 'Manhattan', 'Queens' ]

x = { 'borough_name': 'Manhattan', 'population': 500 }

y = {
'Manhattan': 500,
'Queens': 200
}


print x['borough_name']

print x[borough_name]

print x[0]

print y['borough_name']

print y[borough_name]

print y[0]

print z['borough_name']

print z[borough_name]

print z[0]

3) We have a list called numbers, but we had an off-by-one error: add one to every element of the list, then sum the results. Do this in one line.

4a) Given the following, write code to calculate how many murders we have in total.

murders = { 'Albany': 23, 'Kings County': 10, 'Rochester': 7, 'Yonkers: 9 }

4b) Write code to calculate the percentage of the murders happened in Kings County.

**1) What's the output of the following lines?**

name = "Max" 

print "hello", "name" 

print "hello", name

-- hello, name (because quotes make it a string)
-- hello, max (not a string, use name defined value(s))

**2) What is the output of the following code? Which lines give you errors?**

borough_name = 'Manhattan'

z = [ 'Manhattan', 'Queens' ]

x = { 'borough_name': 'Manhattan', 'population': 500 }

y = {
'Manhattan': 500,
'Queens': 200
}


a. print x['borough_name']

b. print x[borough_name]

c. print x[0]

d. print y['borough_name']

e. print y[borough_name]

f. print y[0]

g. print z['borough_name']

h. print z[borough_name]

i. print z[0]

a output: n/a because of the quote marks 

b output: Manhatan b/c no value quotes

c output: n/a because you can't count dict values.

d output: n/a because of the quote marks 

e output: Manhattan, Queens

f. n/a because you can't count dict values.

g output: n/a because of the quote marks 

h output: n/a becuse it's a list. 

i output: Manhattan

**3) We have a list called numbers, but we had an off-by-one error: add one to every element of the list, then sum the results. Do this in one line.**


*I forget how to do this and the next two ... we just did this in the last class....*

**4a) Given the following, write code to calculate how many murders we have in total.
murders = { 'Albany': 23, 'Kings County': 10, 'Rochester': 7, 'Yonkers: 9 }**

**4b) Write code to calculate the percentage of the murders happened in Kings County.**

## NOT MUCH NOTES FROM THIS CLASS B/C WE WENT OVER IPHYTHON NOTEBOOKS... 

GO INTO terminal ... 
open your lede file ... ipython noteboook